In [69]:
import os
import pandas as pd
import numpy as np
from _config import REDUCED_LIB, SEQUENCING_INFO, OUT_PLACE
import _config

In [70]:
# Default params
DEFAULT_INP_DIR = _config.OUT_PLACE + 'e_newgenotype_rev/'
NAME = "f_report_test"  #util.get_fn(__file__)
OUT_DIR = os.path.join(OUT_PLACE, NAME)

In [39]:
answers =pd.concat( [v for v in SEQUENCING_INFO.Name.apply(lambda x:pd.read_csv(os.path.join(DEFAULT_INP_DIR, x+"_genotypes_0.csv"),index_col=0).assign(sample_name=x)).values],ignore_index=True)

In [66]:
answers["metacat"] = answers.apply( lambda x: {"wildtype":"wildtype","del":"del","ins":"ins"}.get(x.Category,"other"),axis=1)
nm = SEQUENCING_INFO.Name.iloc[-1]
outcomes = answers.loc[answers.sample_name == nm]

agg_results = pd.DataFrame()
agg_results["n_ins"] = answers.groupby(["sample_name"]).apply(lambda x:x.groupby("metacat").get_group("ins").Count.sum())
agg_results["n_del"] = answers.groupby(["sample_name"]).apply(lambda x:x.groupby("metacat").get_group("del").Count.sum())
agg_results["n_wildtype"] = answers.groupby(["sample_name"]).apply(lambda x:x.groupby("metacat").get_group("wildtype").Count.sum())
agg_results["n_other"] = answers.groupby(["sample_name"]).apply(lambda x:x.groupby("metacat").get_group("other").Count.sum())

agg_results.T

sample_name  D19-212015  D19-212016  D19-212017  D19-212018  D19-212019
n_ins               3.0      5146.0      6642.0       397.0        15.0
n_del               8.0     13710.0     14602.0      1139.0       134.0
n_wildtype         40.0     52666.0     52064.0      5036.0      1322.0
n_other       1837478.0   1582099.0   1486615.0   1479917.0   1647035.0

In [ ]:
agg_results= pd.to_csv("0602_reducedlibrary_")